{% extends 'nova_sphere/base.html' %}
{% block content%}
<section class="">
  <div class="max-w-5xl mx-auto px-[30px] py-[50px]">
    <h1 class="text-center">About Us</h1>
    <div>
      <h2>About NovaSphere Tech Academy</h2>
      <p>
        NovaSphere Tech Academy is a technology training institution dedicated
        to equipping individuals with practical digital skills that prepare them
        for today's competitive job market. Our mission is to make quality tech
        education accessible, engaging, and career-focused. We combine expert
        instruction with practical projects to ensure our students gain
        real-world experience alongside theoretical knowledge. We believe that
        learning should inspire creativity, build confidence, and open doors to
        endless opportunities in technology.
      </p>
    </div>
  </div>
</section>

{% endblock %}
