{% extends 'nova_sphere/base.html' %}
{% block content %}
<section class="">
  <div>
    <div>
      <h2>Welcome to NovaSphere Tech Academy</h2>
      <p>Empowering the next generation of tech professionals through practical, industry-focused training. At NovaSphere Tech Academy, we believe anyone can build a successful career in technology with the right guidance, hands-on experience, and supportive learning environment.

      Whether you're just starting your tech journey or looking to upgrade your skills, we're here to help you achieve your goals.
      </p>
      <button>Start Learning Today</button>
  </div>
  <div>
    <h2>Why Choose Us?</h2>
    <ul>
      <li>Experienced and passionate instructors</li>
      <li>Hands-on, project-based learning</li>
      <li>Beginner-friendly courses</li>
      <li>Flexible learning options</li>
      <li>Career mentorship and guidance</li>
    </ul>
    <div>
      <h3>Ready to transform your future?</h3>
      <p>Explore our courses and begin your journey toward becoming a confident technology professional.
      </p>
    </div>
  </div>
</section>
{% endblock %}